{% extends 'base.html.twig' %}


{% block carousel %}{% endblock carousel %}
{% block search %}{%  endblock search %}
{% block footer %}{% endblock footer %}

{% block body %}
    <h1>Ingredient creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('recipe_index', { 'id': recipe_id }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
