{% extends 'base.html.twig' %}

{%  block body %}
    <!-- corps de la page -->
    <div id="wrapper">

        <section id="introduction">
            <h2>Bienvenue sur MarmiWild !</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eligendi officiis totam vero. Aspernatur beatae, doloremque doloribus nostrum perspiciatis recusandae sed sit veniam voluptates. Delectus exercitationem illum in molestiae praesentium.
            </p>
        </section>
    </div>
{%  endblock body %}