<div style="margin-bottom: 0;" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Services</h4>
                <ul style="padding-left: 0; list-style-type: none;">
                    <li>Web Design</li>
                    <li>Development</li>
                    <li>Hosting</li>
                </ul>
            </div>
            <div class="col-3">
                <h4>About</h4>
                <ul style="padding-left: 0; list-style-type: none;">
                    <li>Company</li>
                    <li>Team</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="col-6">
                <h4>MarmiWild</h4>
                <p>Notre volonté est de vous fournir des recettes faciles et peu cher car vous êtes de bon gros pauvres et que vous ne méritez rien de mieux.</p>
            </div>
        </div>
    </div>
</div>