/* Aeration du contenu page d'accueil */

h1{
  margin-bottom: 100px;
}

.search{
  margin-top: 100px;
}

.random_recipes{
  margin-top: 200px;
  margin-bottom: 200px;
}

.separate{
  margin-top: 50px;
}

