{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nos recettes</h1>

    <div class="container-fluid">
        <div class="row">
            {% for recette in recettes %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ recette.nom }}</h5>
                            <p class="card-text">{{ recette.description }}</p>
                            {% if recette.vegetarien %}
                                <p class="card-text">Recette végétarienne</p>
                            {% endif %}
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}" class="btn btn-primary">Voir la recette complète</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
